@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :focus-visible {
    @apply outline-dashed outline-2 outline-offset-[10px] outline-accent;
  }

  a {
    @apply text-primary transition duration-200 hover:text-accent;
  }
  a svg {
    @apply h-5 w-5 fill-primary transition duration-200 hover:fill-accent sm:h-[1.5625rem] sm:w-[1.5625rem];
  }

  input[type="text"],
  input[type="email"],
  textarea {
    @apply w-full border-0 border-b border-primary bg-background-secondary/0 px-6 pb-4 text-base font-medium uppercase leading-[1.625] -tracking-[0.222px] outline-none placeholder:uppercase placeholder:text-primary/50 focus:border-accent focus:outline-none focus:ring-0;
  }
  textarea {
    @apply h-[6.6875rem] resize-none;
  }
}

@layer components {
  .heading-xl {
    font-size: clamp(2.5rem, 0.6405rem + 7.9339vw, 5.5rem);
    @apply font-bold leading-none -tracking-[1.136px] sm:-tracking-[2.045px] lg:-tracking-[2.5px];
  }
  .heading-lg {
    font-size: clamp(2rem, 1.4222rem + 2.4653vw, 3rem);
    letter-spacing: clamp(-0.0625rem, -0.0444rem + -0.077vw, -0.09375rem);
    line-height: clamp(2.5rem, 1.9222rem + 2.4653vw, 3.5rem);
    @apply font-bold;
  }
  .heading-md {
    @apply text-[1.5rem] font-bold leading-[2rem] tracking-normal;
  }
  .body-lg {
    font-size: clamp(1rem, 0.8231rem + 0.7547vw, 1.125rem);
    line-height: clamp(1.625rem, 1.5528rem + 0.3082vw, 1.75rem);
    @apply font-medium tracking-normal;
  }
  .wrapper {
    @apply mx-auto max-w-[69.375rem] px-4 sm:px-8 xl:px-0;
  }
  .social-icon {
    @apply h-5 w-5 fill-primary;
  }
  .btn-regular {
    @apply text-base font-bold uppercase leading-[1.625] tracking-[2.286px] underline decoration-accent decoration-2 underline-offset-[10px] transition-all duration-300 hover:text-accent;
  }
}

@layer utilities {
  .error-text {
    @apply text-xs font-medium leading-4 -tracking-[0.167px] text-error;
  }
}
